@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.container-auc {
    margin-top: 20px;
    width: 90%;
    height: 836px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--background-neutral, #FFF);
    /* Shadow/Large */
    box-shadow: 0px 15px 35px 0px, rgba(103, 110, 118, 0.08), 0px 5px 15px 0px, rgba(0, 0, 0, 0.12);
    padding: 32px;
    background: var(--background-neutral, #FFF);
    /* Shadow/Large */
    box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08), 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
}

.header-auc {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px;
}

hr {
    width: 100%;
    height: 1px;
    background: #DDD;
    margin-bottom: 16px;
    border: none;
}

.header-auc button {
    background: none;
    border: none;
}

.user-info-auc {
    width: 100%;
    height: 95px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--neutral-gray-50, #F1F1F1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}

.info-auc {
    width: 100%px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--neutral-gray-50, #F1F1F1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 16px;
    align-items: center;
}

.info-auc ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;

}


.f-item-auc,
.f-item-active-auc {
    width: 100%;
    height: 96px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--background-neutral, #FFF);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    gap: 48px;

}

.f-item-auc ul,
.f-item-active-auc ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 18px 0px;

    gap: 48px;


}

.f-item-auc li,
.f-item-active-auc li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.item-name-auc {
    display: flex;
    width: 356px;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    background: var(--academy-10, #F5F9FF);
    flex-direction: row;
    flex-wrap: wrap;

}

.doc-name-auc {
    width: 308px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

}

.doc-name-auc span {
    color: var(--text-section, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
}

.item-name-auc span {
    color: var(--text-subtitle, #555);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 248px;
}

.period-auc {
    display: inline-flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--border-light, #DDD);
}

.time-auc {
    display: inline-flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--border-light, #DDD);
    width: 100px;
    height: 46px;
}

.feedback-auc {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 80px;
    border: 1px solid var(--action-light-primary, #1161D8);
    width: 160px;
    height: 48px;
}

.feedback-btn-auc {
    border: none;
    color: var(--action-light-primary, #1161D8);
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
    background: none;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    width: 100%;


}

.status-list-auc {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--border-light, #DDD);
    color: var(--feedback-information-medium, #0079F5);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 158px;
    height: 48px;
    background: none;
}

.status-list-auc button {
    border: none;
    background: none;
}


.user-name-auc {
    display: flex;
    flex-direction: column;
    margin-left: 19px;

}

.user-type-auc {
    color: var(--text-lead, #888);
    text-align: left;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date-auc {
    display: flex;
    gap: 12px;
    flex-direction: row;
    width: 230px;
    align-items: center;
    color: var(--text-section, #333);
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.approvel-date-auc {
    gap: 6px;
    display: flex;
}

.date-msg-auc {
    color: var(--text-lead, #888);
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */

}

.notification-auc {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--feedback-information-light, #E8FAFF);
    width: 121px;
    height: 35px;
    color: var(--feedback-information-dark, #062F50);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.info-selector-auc {
    align-items: center;
    display: flex;
    gap: 8px;
    width: 288px;
}

.info-selector-auc button {
    border: none;
    background: none;
}

.info-type-auc {
    width: 206px;
}

.status-auc {
    width: 232px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid var(--brand-450, #F3FBF2);
    background: var(--action-light-contrast, #FFF);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

button:hover {
    cursor: pointer;
}

.left-auc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 200px;
}

.right-auc {
    display: flex;
    width: 647px;
    align-items: center;
    gap: 32px;
}

.f-item-active-auc {
    height: 320px;
    flex-shrink: 0;
}

.prof-feedback-auc {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--border-light, #DDD);
    height: 104px;
}

.action-butn-auc {
    display: flex;
    width: 1273px;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 0 25px;

}

.cansel-btn-auc {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 80px;
    background: var(--action-dark-neutral, #EEE);
    border: none;
}

.save-btn-auc {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 80px;
    background: #E5E5E5;
    border: none;
}

.active-feed-area-auc {
    width: 1323px;
    flex-shrink: 0;
}