* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-submit {
    width: 800px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--feedback-sucess-medium, #359549);
    /* Shadow/Large */
    box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08), 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
    margin-top: 100px;
}

.header-submit {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 262px;
    align-items: center;
    justify-content: space-between;
    margin: 24px;
}

.message-submit {
    color: var(--neutral-white, #FFF);
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 109.091% */
}

.close-submit {
    width: 24px;
    height: 24px;
    position: relative;
    right: 0px;
    bottom: 0px;
    border: none;
    background: none;
}

.file-icon-submit {
    width: 184.483px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.pragraph-submit {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 94px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.top-pragraph-submit {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 128.571% */
    letter-spacing: 0.5px;
}

.btm-pragraph-submit {
    color: var(--feedback-error-light, #FEE);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 8px;
    /* 157.143% */
}

button:hover {
    cursor: pointer;
}