* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-upload-model {
    width: 800px;
    height: 400px;
    border-radius: 24px;
    background: var(--background-neutral, #FFF);
    /* Shadow/Large */
    box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08), 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
}

.header-upload-model {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    align-items: flex-start;
    gap: 262px;
    padding: 24px;
    margin-bottom: 43px;
}

.header-upload-model button {
    display: flex;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
}

.upload-rect-upload-model {
    width: 752px;
    height: 289px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px dashed var(--border-light, #DDD);
    background: var(--academy-10, #F5F9FF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 24px;

}

.icon-upload-model {
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--academy-100, #D9EFFF);
    margin-bottom: 16px;
}

.f-mes-upload-model,
.s-mes-upload-model {
    color: var(--text-section, #333);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 4px;
    height: 27px;
    display: flex;
}

.s-mes-upload-model {
    color: var(--text-lead, #888);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f-mes-upload-model {
    color: var(--text-section, #333);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.t-mes-upload-model {
    color: var(--text-lead, #888);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.counter-upload-model {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    left: 235px;
}

button:hover {
    cursor: pointer;
}